<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<div style="display:flex; justify-content: center">
    <form method="post" action="/OrderPage">
        <p>姓名: <input type="text" name="username"></p>
        <p>密码：<input type="text" name="password" ></p>
        <div style="display:flex; justify-content: space-around">
            <input type="submit" name="登录"/>
            <button><a th:href="@{'/RegisterPage'}">注册</a></button>
        </div>
    </form>
</div>
</body>

</html>