<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.EurekaOrder.Mapper.OrderMapper">

    <insert id="CreateOrder" >
        INSERT INTO `order` VALUES (#{num},#{shipper},#{origin},#{destination},#{goodsName},#{carriers},"已下单",#{transporter})
    </insert>

    <select id="FindAllOrder" resultType="com.example.EurekaOrder.Bean.Order">
        SELECT * FROM `order` WHERE shipper=#{shipper}
    </select>
    <select id="SelectAllOrder" resultType="com.example.EurekaOrder.Bean.Order">
        SELECT * FROM `order`
    </select>
    <select id="SelectOrder" resultType="com.example.EurekaOrder.Bean.Order">
        SELECT * FROM `order` WHERE num=#{num}
    </select>

    <update id="UpdateOrder">
        UPDATE `order` SET shipper=#{shipper},origin=#{origin},destination=#{destination},goodsName=#{goodsName},carriers=#{carriers},state=#{state},transporter=#{transporter} WHERE num=#{num}
    </update>

    <delete id="DeleteOrder">
        Delete FROM `order` WHERE num=#{num}
    </delete>

    <select id="FindState" resultType="com.example.EurekaOrder.Bean.Order">
        SELECT * FROM `order` WHERE state="已下单"
    </select>
</mapper>