<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.JavaEE.Mapper.OrderMapper">

    <insert id="CreateOrder" >
        INSERT INTO `order` VALUES (#{Num},#{Shipper},#{Origin},#{Destination},#{GoodsName},#{Carriers},"已下单",#{transporter})
    </insert>

    <select id="FindAllOrder" resultType="com.example.JavaEE.Bean.Order">
        SELECT * FROM `order` WHERE Shipper=#{Shipper}
    </select>
    <select id="SelectAllOrder" resultType="com.example.JavaEE.Bean.Order">
        SELECT * FROM `order`
    </select>
    <select id="SelectOrder" resultType="com.example.JavaEE.Bean.Order">
        SELECT * FROM `order` WHERE Num=#{Num}
    </select>

    <update id="UpdateOrder">
        UPDATE `order` SET Shipper=#{Shipper},Origin=#{Origin},Destination=#{Destination},GoodsName=#{GoodsName},Carriers=#{Carriers},State=#{State},transporter=#{transporter} WHERE Num=#{Num}
    </update>

    <delete id="DeleteOrder">
        Delete FROM `order` WHERE Num=#{Num}
    </delete>

    <select id="FindState" resultType="com.example.JavaEE.Bean.Order">
        SELECT * FROM `order` WHERE State="已下单"
    </select>
</mapper>